.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #203354;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-left {
    display: flex;
    justify-content: space-evenly;
    align-self: left;
}

.icon-style {
    align-self: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.title {
    align-self: center;
    color: #F6DD90;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-right {
    display: flex;
    justify-content: space-evenly;
    align-self: right;
}

.navbar-component-right {
    align-self: right;
    color: #F6DD90;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    padding-left: 15px;
    padding-right: 15px;
}