.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #203354;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-component {
    color: #F6DD90;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-component-right {
    align-self: right;
    color: #F6DD90;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    padding-left: 15px;
    padding-right: 15px;
}