.input-form {
    text-align: left;
    padding: 12px 20px;
    white-space: pre-wrap;
}

.textbox-label {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-component {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.submit {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.queries {
    font-family: Georgia, 'Times New Roman', Times, serif;
}